// Running 'Sale 20%' - block New Colection
@keyframes text 
    0%
        transform: translate(0, 0)
    100%
        transform: translate(932px, 0)
// Flying cards - block New    
@keyframes cyrcle
    0%, 100%
        width: 330px
        height: 302px
        left: 0px
        top: 0px 
    14%
        width: 330px
        height: 302px
        left: 74%
        top: 0%
    28%
        width: 300px
        height: 270px
        left: 62%
        top: 35%
    42%
        width: 330px
        height: 302px
        left: 74%
        top: 66%
    56%
        width: 300px
        height: 270px
        left: 38%
        top: 51%
    70%
        width: 330px
        height: 302px
        left: 0%
        top: 66%
    84%   
        width: 300px
        height: 270px
        left: 14%
        top: 35%
        