.forYou
    // height: 1391px
    // height: 100vh
    padding: 90px 50px
    background: #ffffff
    h2
        padding-left: 80px
        font-family: 'Alumni Sans'
        font-style: normal
        font-weight: 400
        font-size: 150px
        line-height: 180px
        color: #000000
    &_wrapp
        display: flex
        height: 100%
        gap: 20px
        .photo
            height: 100%
        &_item
            height: 100vh
            width: 100%
            display: flex
            flex-direction: column
            h5
                margin: 20px 0 0 20px
                font-family: 'PT Sans Narrow'
                font-style: normal
                font-weight: 400
                font-size: 20px
                line-height: 26px
                color: #000000
            h4
                margin: 16px 0 0 20px
                font-family: 'PT Sans Narrow'
                font-style: normal
                font-weight: 400
                font-size: 24px
                line-height: 31px
                color: #000000
            &:nth-child(1)
                .photo
                    transition-duration: 0.8s
                    background: url(../img/last_animation/1-1.png) center center/cover no-repeat
                    &:hover
                        transition-duration: 0.8s 
                        background: url(../img/last_animation/1-2.png) center center/cover no-repeat
            &:nth-child(2)
                .photo
                    transition-duration: 0.8s
                    background: url(../img/last_animation/2-2.png) center center/cover no-repeat
                    &:hover
                        transition-duration: 0.8s
                        background: url(../img/last_animation/2-1.png) center center/cover no-repeat
            &:nth-child(3)
                .photo
                    transition-duration: 0.8s
                    background: url(../img/last_animation/3-1.png) center center/cover no-repeat
                    &:hover
                        transition-duration: 0.8s
                        background: url(../img/last_animation/3-2.png) center center/cover no-repeat
            &:nth-child(4)
                .photo
                    transition-duration: 0.8s
                    background: url(../img/last_animation/4-1.png) center center/cover no-repeat
                    &:hover
                        transition-duration: 0.8s
                        background: url(../img/last_animation/4-2.png) center center/cover no-repeat