@keyframes text 
    0%
        transform: translate(0, 0)
    100%
        transform: translate(932px, 0)
@keyframes sliderOne 
    0%
        transform: translate(0, 0)
    100%
        transform: translate(5614px, 0)
@keyframes sliderTwo 
    0%
        transform: translate(0, 0)
    100%
        transform: translate(-4957px, 0)
a
    text-decoration: none
.header
    position: fixed
    top: 0px
    height: 119px
    width: 100%
    padding: 0 50px
    background-color: #fff
    display: flex
    justify-content: space-between
    z-index: 100
    &_left
        &_catalog
            position: relative
            font-weight: 400
            line-height: 44px
            font-size: 35px
            color: #000000
            display: block
            width: 277px
            margin-top: 38px
            text-decoration: none
            z-index: 100
            &::after
                position: relative
                content: ''
                display: block
                margin-top: -44px
                height: 44px
                width: 10px
                background: #ffffff
                margin-left: -15px
                z-index: 200
                transition: 2s all
            &:hover
                font-weight: 400
                line-height: 44px
                font-size: 35px
                color: #000000
                text-decoration: none
                &::after
                    content: ''
                    margin-left: 150px
                    transition: 3s all
            &:visited
                font-weight: 400
                line-height: 44px
                font-size: 35px
                color: #000000
                text-decoration-style: none !important
    &_logo
        img
            display: flex
            margin: 0 auto
    &_right
        width: 277px
        display: flex
        justify-content: space-between
        justify-items: center
        list-style-type: none
        a
            margin: 41px 0 40px 50px
            width: 20px
            &::after
                position: relative
                content: ''
                display: block
                margin-top: -44px
                height: 44px
                width: 10px
                background: #ffffff
                margin-left: -15px
                z-index: 200
                transition: 3s all
            &:hover
                font-weight: 400
                line-height: 44px
                font-size: 35px
                color: #000000
                text-decoration: none
                &::after
                    content: ''
                    margin-left: 150px
                    transition: 4s all 
        img
            display: flex
            justify-items: center
            
            

.firstScreen
    // stabil main picture
    // background: url(../img/bg/bg_1.png) center center/cover no-repeat
    height: 1080px
    overflow: hidden
    z-index: 0
    position: relative
    &_overlay 
        background: rgba(0,0,0,0.3)
        position: absolute
        top:0
        left:0
        height: 100%
        width: 100%
        padding: 337px 0 184px 0
        z-index: 1
    &_video 
        position: absolute
        top: 70px
        left: 50%
        transform: translateX(-50%)
        height: 100%
        // width: 100vl
        z-index: -100
    &_header
        font-family: 'Alumni Sans'
        font-style: normal
        font-weight: 400
        font-size: 400px
        line-height: 63.5%
        text-align: center
        color: #FFFFFF
        cursor: default
        z-index: 5
    &_subheader
        font-family: 'PT Sans Narrow'
        font-style: normal
        font-weight: 400
        font-size: 50px
        line-height: 65px
        color: #FFFFFF
        margin-top: 90px
        text-align: center
        z-index: 5
    &_button
        width: 326px
        height: 80px
        padding: 27px 0px
        background: #ffffff
        font-family: 'Arsenal'
        font-style: normal
        font-weight: 400
        font-size: 20px
        color: #000000
        border: none
        display: block
        align-items: center
        margin: 70px auto
        z-index: 10
        transition: 0.5s all
        &:hover
            content: ''
            background: #1C1C1C
            color: #ffffff
            transition: 0.5s all
.menu 
    &_dropDown
        display: none
        position: fixed
        top: 119px
        padding: 0 0 50px 70px
        left: 0px
        z-index: 10
        width: 510px
        height: 916px
        background-color: #fff
        &_active
            display: block
            position: fixed
            top: 119px
            padding: 0 0 50px 70px
            left: 0px
            z-index: 10
            width: 510px
            height: 916px
            background-color: #fff
        &_cross
            display: block
            position: absolute
            right: 50px
            top: 50px        
            width: 26px
            height: 12px
            span
                display: block
                height: 2px
                width: 100%
                margin-bottom: -2px
                background-color: #000000
                transition: 0.3s all
                &:nth-child(1)
                    transform: translateY(3px) rotate(-45deg)
                &:nth-child(2)
                    transform: translateY(3px) rotate(45deg)
        &_search
            display: block
            position: absolute
            top: 160px
            left: 70px
        p
            position: relative
            .srch
                width: 365px
                height: 53px
                font-family: 'PT Sans Narrow'
                font-style: normal
                font-weight: 400
                font-size: 18px
            .icon
                position: absolute
                right: 12px
                display: inline
                top: 10px
        ul
            list-style-type: none
            position: absolute
            padding: 0px
            margin-top: 273px
            width: 400px
            height: 600px
            overflow-x: hidden
            overflow-y: scroll
            li
                margin-bottom: 43px 
                width: 400px
                a
                    font-family: 'PT Sans Narrow'
                    font-weight: 400
                    font-size: 30px
                    line-height: 39px
                    text-decoration: none
                    color: #000000
                    width: 400px
            &::-webkit-scrollbar 
                background: transparent
                width: 5px      
.blockTwo
    height: 994px
    position: relative
    overflow: hidden
    z-index: 0
    &_left
        position: absolute
        width: 30%
        height: 994px
        margin: 170px 60% 0 10%
        top: 0px
        z-index: 10
    &_header
        font-family: 'Alumni Sans'
        font-style: normal
        font-weight: 400
        font-size: 150px
        line-height: 101.02%
        color: #FFFFFF
        text-align: start
    &_button
        width: 326px
        height: 80px
        background: #FFFFFF
        font-family: 'Arsenal'
        font-style: normal
        font-weight: 400
        font-size: 20px
        color: #000000
        border: none
        margin-top: 70px
        z-index: 0
        transition: 0.5s all
        &:hover
            content: ''
            background: #1C1C1C
            color: #ffffff
            transition: 0.5 all
    &_block
        position: absolute
        height: 90px
        width: 300px
        bottom: 138px
        left: -1699px
        p
            text-align: center
            color:#ffffff00
            -webkit-text-stroke: 2px #ffffff
            text-transform: uppercase
            padding-top: 35px
            animation: text 6s infinite linear
            padding-left: 100%
            white-space: nowrap
            font-family: 'Arsenal'
            font-style: normal
            font-weight: 400
            font-size: 120px
            line-height: 150px
            margin-left: 0px
            width: 100%
            z-index: 0
    .carousel
        img
            height: 100%
            margin-left: 50%
            transform: translateX(-50%)
.blockThree
    padding: 160px 50px
    height: 1080px
    &_wrapp
        height: 1925px
        position: relative
        .picture1
            position: absolute
            width: 747px
            height: 684px
            left: 0px
            top: 0px
            background: url(../img/slider_third/one.png) center center/cover no-repeat
            h3
                font-family: 'PT Sans Narrow'
                font-style: normal
                font-weight: 400
                font-size: 70px
                color: #FFFFFF
                display: flex
                justify-content: center
                margin-top: 41%
.season
    height: 2091px
    padding: 160px 50px
    background: #1C1C1C
    h1
        font-family: 'Alumni Sans'
        font-style: normal
        font-weight: 400
        font-size: 150px
        color: #FFFFFF
    &_wrapp
        overflow: hidden
        &_firstLine
            margin-top: 60px
            height: 772px
            width: 7336px
            display: flex
            margin-left: -5614px
            animation: sliderOne 40s infinite linear
            &_items
                margin-right: 20px
                display: inline-block
        &_secondLine
            margin-top: 20px
            height: 772px
            width: 6877px
            display: flex
            margin-right: -4957px
            animation: sliderTwo 40s infinite linear
            &_items
                margin-right: 20px
                display: inline-block
.selection
    height: 1323px
    padding: 160px 50px
    background: #ffffff

.subscribe
    height: 1095px
    padding: 105px 50px
    background: #1C1C1C
    &_image
        display: none // --------------------------------
        width: 900px
        height: 885px
    &_button
        margin-top: 60px
        width: 307px
        height: 67px
        background: #151515
        border: 1px solid #FFFFFF
        font-family: 'PT Sans Narrow'
        font-style: normal
        font-weight: 400
        font-size: 18px
        line-height: 23px
        color: #FFFFFF
        transition: 1s all
        &:hover
            background: #ffffff
            color: #151515
            border: 1px solid #151515
            transition: 1s all
    h3
        font-family: 'PT Sans Narrow'
        font-style: normal
        font-weight: 400
        font-size: 60px
        line-height: 78px
        color: #FFFFFF
        margin-top: 222px
    input
        width: 594px
        height: 32px
        margin-top: 70px
        font-family: 'PT Sans Narrow'
        font-style: normal
        font-weight: 400
        font-size: 20px
        color: #FFFFFF
        background-color: #1C1C1C
        border-block-start: none
        border-right-style: none
        border-left-style: none
        &:focus-visible
            outline: none
.forYou
    height: 1391px
    padding: 160px 50px
    background: #ffffff
    h2
        font-family: 'Alumni Sans'
        font-style: normal
        font-weight: 400
        font-size: 150px
        line-height: 180px
        color: #000000
    &_item
        height: 866px
        .photo
            height: 773px
        h5
            margin: 20px 0 0 20px
            font-family: 'PT Sans Narrow'
            font-style: normal
            font-weight: 400
            font-size: 20px
            line-height: 26px
            color: #000000
        h4
            margin: 16px 0 0 20px
            font-family: 'PT Sans Narrow'
            font-style: normal
            font-weight: 400
            font-size: 24px
            line-height: 31px
            color: #000000
        &:nth-child(1)
            .photo
                transition-duration: 0.8s
                background: url(../img/last_animation/1-1.png) center center/cover no-repeat
                &:hover
                    transition-duration: 0.8s 
                    background: url(../img/last_animation/1-2.png) center center/cover no-repeat
        &:nth-child(2)
            .photo
                transition-duration: 0.8s
                background: url(../img/last_animation/2-2.png) center center/cover no-repeat
                &:hover
                    transition-duration: 0.8s
                    background: url(../img/last_animation/2-1.png) center center/cover no-repeat
        &:nth-child(3)
            .photo
                transition-duration: 0.8s
                background: url(../img/last_animation/3-1.png) center center/cover no-repeat
                &:hover
                    transition-duration: 0.8s
                    background: url(../img/last_animation/3-2.png) center center/cover no-repeat
        &:nth-child(4)
            .photo
                transition-duration: 0.8s
                background: url(../img/last_animation/4-1.png) center center/cover no-repeat
                &:hover
                    transition-duration: 0.8s
                    background: url(../img/last_animation/4-2.png) center center/cover no-repeat
