.season
    height: 2000px
    padding: 90px 50px
    background: #1C1C1C
    h1
        font-family: 'Alumni Sans'
        font-style: normal
        font-weight: 400
        font-size: 150px
        color: #FFFFFF
    &_wrapp
        overflow: hidden
        &_firstLine
            position: relative
            margin-top: 60px
            height: 772px
            width: 7336px
            display: flex
            float: right
            justify-content: flex-end
            margin-right: 0px
            animation: 0.4s all
            &_items
                margin-left: 20px
                display: inline-block
        &_secondLine
            position: relative
            margin-top: 20px
            height: 772px
            width: 12320px
            display: flex
            margin-left: 0px
            animation: 0.4s all
            &_items
                margin-right: 20px
                display: inline-block