.selection
    height: 1323px
    padding: 136px 50px
    background: #ffffff
    &_wrapper
        display: flex
        flex-wrap: nowrap
        justify-content: space-around
        &_item
            // width: 100%
            height: 1003px
            transition: 2s all
            h3
                writing-mode: vertical-lr
                transform: rotate(-180deg) translateY(-109px)
                font-family: 'PT Sans Narrow'
                font-style: normal
                font-weight: 400
                font-size: 130px
                color: #000000
                margin: 0
                cursor: pointer
                 
            &:nth-child(1)
                &:hover
                    background: url(../img/slider_four/jackets.png) center center/cover no-repeat
                    width: 612px
                    h3
                        display: none
            &:nth-child(2)
                &:hover
                    background: url(../img/slider_four/costumes.png) center center/cover no-repeat
                    width: 612px
                    h3
                        display: none
            &:nth-child(3)
                &:hover
                    background: url(../img/slider_four/sweaters.png) center center/cover no-repeat
                    width: 612px
                    h3
                        display: none
            &:nth-child(4)
                &:hover
                    background: url(../img/slider_four/coats.png) center center/cover no-repeat
                    width: 612px
                    h3
                        display: none
            &:nth-child(5)
                &:hover
                    background: url(../img/slider_four/warmjackets.png) center center/cover no-repeat
                    width: 612px
                    h3
                        display: none
            &:nth-child(6)
                &:hover
                    background: url(../img/slider_four/jeans.png) center center/cover no-repeat
                    width: 612px
                    h3
                        display: none
            &:nth-child(7)
                &:hover
                    background: url(../img/slider_four/dresses.png) center center/cover no-repeat
                    width: 612px
                    h3
                        display: none
            &:nth-child(8)
                &:hover
                    background: url(../img/slider_four/blouses.png) center center/cover no-repeat
                    width: 612px
                    h3
                        display: none
            &:nth-child(9)
                &:hover
                    background: url(../img/slider_four/pants.png) center center/cover no-repeat
                    width: 612px
                    h3
                        display: none
            &:nth-child(2n)
                h3
                    transform: rotate(-180deg) translateY(-510px)