*
    font-family: 'Arsenal'
a
    text-decoration: none
    text-decoration-line: none
@import "general"
@import "header"
@import "firstScreen"
@import "newCollection"
@import "new"
@import "season"
@import "selection"
// @import "subscribe"
// @import "forYou"
// @import "footer"
@import "media"
@import "animation"